.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: 'papayawhip';
    border-radius: 3px;
    transition: all 150ms;
}

.box {
    display: 'flex';
    flex-direction: 'column';
}